# Exclude Virtual Environment
.venv/

# Ignore all .env  Environment variables / secrets files
.env
.env.*

# But include .env.example 
!.env.example

# Exclude Python Cache 
__pycache__/
*.py[cod]


# Exclude  Testing / coverage
.pytest_cache/
.coverage
htmlcov/
*.cover

# Jupyter
.ipynb_checkpoints/

# Exclude IDE & OS Settings
.vscode/
.idea/
Thumbs.db
.DS_Store

# Model artifacts 
*.h5
*.keras
*.onnx
*.pkl
*.joblib

# Logs
logs/
*.log

scripts/predict_image.py
